<section class="fl-fix pos-r ingredients-section" id="ingredients">
    <div class="wrapper">
        {% if product.metafields.ingredients.key_ingredients_content != '' %}
            <div class="row clearfix">
                <div class="heading-box pos-r type-2">
                    <h4 class="title tt-u">{{ product.metafields.ingredients.key_ingredients_title }}</h4>
                </div>
                {{ product.metafields.ingredients.key_ingredients_content }}
            </div>
        {% endif %}
        {% if product.metafields.ingredients.full_list_content != '' %}
            <div class="row clearfix">
                <div class="heading-box pos-r type-2">
                    <h4 class="title tt-u">{{ product.metafields.ingredients.full_list_title }}</h4>
                </div>
                <div class="col">
                    <p><strong>{{ product.metafields.ingredients.full_list_subtitle }}</strong></p>
                    <p class="ingredient-desc">{{ product.metafields.ingredients.full_list_content }}</p>
                </div>
            </div>
        {% endif %}
        {% if product.metafields.why_when_how.content != '' %}
            <div class="row clearfix">
                <div class="heading-box pos-r type-2">
                    <h4 class="title tt-u">{{ product.metafields.why_when_how.title }}</h4>
                </div>
                <div class="col">
                    <p class="ingredient-desc">{{ product.metafields.why_when_how.content }}</p>
                </div>
            </div>
        {% endif %}
    </div>
</section>