<section class="fl-fix pos-r home-banner">
    <div class="fl-fix top-banner blog-banner">
        <figure class="bgsz-cv" style="background-image:url({{ section.settings.blogs_banner_image | img_url: 'master' }});"> 
            <img src="{{ section.settings.blogs_banner_image | img_url: 'master' }}" alt="{{ section.settings.blogs_banner_image.alt }}" class="bgsz-cv-img">
            <figcaption class="caption pos-a">
                <div class="small-wrapper">
                    <div class="text-box ta-c">
                        {% if section.settings.blogs_banner_title != blank %}
                            <h1 class="h2 title d-ib tt-u">{{ section.settings.blogs_banner_title }}</h1>
                        {% endif %}
                        {% if section.settings.blogs_banner_text != blank %}
                            <div class="short-info">
                                {{ section.settings.blogs_banner_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>

{% schema %}
  {
    "name": {
      "en": "Blogs Banner"
    },
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "blogs_banner_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "blogs_banner_title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "blogs_banner_text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },      
    ]
  }
{% endschema %}