{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{%- assign current_variant = bold_selected_or_first_available_variant -%}
{%- include 'bold-variant' with current_variant, output: 'none' -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = bold_variant_price -%}
<section class="fl-fix pos-r home-banner bg-peach-1">
    <div class="d-tb tbl-f w100 item">
        <div class="img-box d-tbc w65 ov-h va-m bg-peach-1 pos-r">
            <div class="full-wrapper">
                <ul class="fl-fix catalogue-detail-slider">
                    {% for image in product.images %}
                        {% if image.alt == 'logo-asseenin' %}
                            {% continue %}
                        {% endif %}
                        <li class="fl-fix">
                            <figure class="catalogue-product pos-r">
                                <img src="{{ 'cat-detail-placeholder.png' | asset_url }}" alt="" class="cat-detail-placeholder">
                                <a data-fancybox="gallery" href="{{ image | img_url: 'master' }}">
                                    <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" class="cat-detail-img">
                                </a>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
                <a href="javascript:void(0)" class="zoom-in"></a>
            </div>
        </div>
        <div class="d-tbc w35 va-m pos-r prod-info">
            <div class="full-wrapper">
                <div class="text-box">
                    <div class="title-box fl-fix">
                        <h3 class="h3">{{ product.title }}</h3>
                    </div>
                    <div class="info-box fl-fix">
                        <div class="clearfix">
                            <div class="weight-box">{{ product.metafields.product.weight }}</div>
                            <div class="seen-box">
                                <a class="link pos-r d-ib as-seen-in" href="javascript:void(0)">AS SEEN IN</a>
                            </div>
                            <div class="asseenin-logo" style="display:none;">
                              <ul>
                                {% for image in product.images %}
                                  {% if image.alt != 'logo-asseenin' %}
                                      {% continue %}
                                  {% endif %}
                                  <li><img class="logo-row__image" src="{{ image | img_url: '200x200' }}" alt="{{ image.alt | escape }}"></li>
                                {% endfor %}
                              </ul>
                            </div>
                        </div>
                        <div class="review-box">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </div>
                        {% capture "form_classes" -%}
                            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
                        {%- endcapture %}
                        {% capture "form_id" %}addToCartForm-{{section.id}}{% endcapture %}
                        {% form 'product', product, class:form_classes, novalidate: 'novalidate', id:form_id %}
                            <div class="prod-desc">
                                {{ product.description }}
                                <div class="varients">
                                    {% unless product.has_only_default_variant %}
                                        {% for option in product.options_with_values %}
                                          <div class="selector-wrapper js product-form__item">
                                            <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                                              {{ option.name }}
                                            </label>
                                            <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
{%- assign optName = 'options' | append: forloop.index -%}
{%- assign option_values = [optName] | default: option.values -%}
{%- for value in option_values -%}
                                                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                        {% endfor %}
                                    {% endunless %}
                                    <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                                        {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
                                            {% if variant.available %}
                                                <option {% if variant == bold_selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                                                  {{ variant.title }}
                                                </option>
                                            {% else %}
                                                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="price">
                                    {% include 'product-price', variant: current_variant %}
                                </div>
                                {% if section.settings.show_quantity_selector %}
                                    <div class="quantity">
                                        <label>Quantity:</label>
                                        <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="quantity" pattern="[0-9]*">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="buy-btn">
                                <button type="submit" name="add" id="addToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                                    <span id="AddToCartText-{{ section.id }}">
                                        {% unless current_variant.available %}
                                            {{ 'products.product.sold_out' | t }}
                                        {% else %}
                                            {{ 'products.product.add_to_cart' | t }}
                                        {% endunless %}
                                    </span>
                                </button>
                                {% if section.settings.enable_payment_button %}
                                    {{ form | payment_button }}
                                {% endif %}
                            </div>
                        {% endform %}
                    </div>
                </div>
                {% if section.settings.show_share_buttons %}
                    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% include 'product-ingredients' %}

{% include 'product-press' %}

<section class="fl-fix pos-r review-section">
    <div class="wrapper">
        <div class="row clearfix">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
    </div>
</section>


{% if product.metafields.faq.content != '' %}
    <section class="fl-fix pos-r faq-section" id="product-faq">
        <div class="wrapper">
            {{ product.metafields.faq.content }}
            {% comment %} <div class="heading-box pos-r type-2">
                <h4 class="title">FAQs</h4>
            </div>
            <ul class="fl-fix faqs">
                <li class="pos-r fl-fix item active">
                    <h6 class="title">3.8% retinol seems to be a really high percentage. I’ve never seen or heard of a product with anywhere near this much retinol. Is it real?</h6>
                    <div class="short-info">
                        <p>Eyeconic™ Eye Cream actually does contain 3.8% retinol and is the first product in North America to offer this retinol potency - all contained in a gentle, effective and ultra-elegant formulation that delivers incomparable results.</p>
                    </div>
                </li>  
                <li class="pos-r fl-fix item">
                    <h6 class="title">Aqua Lotion is so light - how well does it moisturize?</h6>
                    <div class="short-info">
                        <p>Eyeconic™ Eye Cream actually does contain 3.8% retinol and is the first product in North America to offer this retinol potency - all contained in a gentle, effective and ultra-elegant formulation that delivers incomparable results.</p>
                    </div>
                </li>                
                <li class="pos-r fl-fix item">
                    <h6 class="title">Aqua Lotion is so light - how well does it moisturize?</h6>
                    <div class="short-info">
                        <p>Eyeconic™ Eye Cream actually does contain 3.8% retinol and is the first product in North America to offer this retinol potency - all contained in a gentle, effective and ultra-elegant formulation that delivers incomparable results.</p>
                    </div>
                </li>            
            </ul> {% endcomment %}
        </div>
    </section>
{% endif %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {%- include 'bold-product', output: 'json' -%}
  </script>
{% endunless %}
<script type="text/javascript">
    $('document').ready(function (){
        $('.main.fl-fix').addClass('catalogue-detail');
    });
</script>
{% schema %}
  {
    "name": {
      "en": "Product pages",
      "de": "Produktseiten",
      "fr": "Pages de produits",
      "it": "Pagine di prodotto",
      "ja": "商品ページ",
      "es": "Páginas de productos",
      "pt-BR": "Páginas de produtos"
    },
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": {
          "en": "Image size",
          "de": "Foto-Größe",
          "fr": "Taille des images",
          "it": "Dimensione immagine",
          "ja": "画像のサイズ",
          "es": "Tamaño de la imagen",
          "pt-BR": "Tamanho da imagem"
        },
        "options": [
          {
            "value": "small",
            "label": {
              "en": "Small",
              "de": "Klein",
              "fr": "Petite",
              "it": "Piccolo",
              "ja": "小",
              "es": "Pequeña",
              "pt-BR": "Pequeno"
            }
          },
          {
            "value": "medium",
            "label": {
              "en": "Medium",
              "de": "Mittel",
              "fr": "Moyenne",
              "it": "Medio",
              "ja": "中",
              "es": "Mediana",
              "pt-BR": "Médio"
            }
          },
          {
            "value": "large",
            "label": {
              "en": "Large",
              "de": "Groß",
              "fr": "Grande",
              "it": "Grande",
              "ja": "大",
              "es": "Grande",
              "pt-BR": "Grande"
            }
          },
          {
            "value": "full",
            "label": {
              "en": "Full-width",
              "de": "Volle Breite",
              "fr": "Pleine largeur",
              "it": "Intera larghezza",
              "ja": "全幅",
              "es": "Ancho completo",
              "pt-BR": "Largura completa"
            }
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": {
          "en": "Show quantity selector",
          "de": "Quantitäts-Auswahl anzeigen",
          "fr": "Afficher le sélecteur de quantité",
          "it": "Mostra selettore quantità",
          "ja": "数量セレクターを表示する",
          "es": "Mostrar selector de cantidad",
          "pt-BR": "Exibir seletor de quantidade"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": {
          "en": "Show variant labels",
          "de": "Varianten-Etiketten anzeigen",
          "fr": "Afficher le nom des variantes",
          "it": "Mostra etichette varianti",
          "ja": "バリエーションのラベルを表示する",
          "es": "Mostrar etiquetas de variantes",
          "pt-BR": "Exibir etiquetas de variantes"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "en": "Show vendor",
          "de": "Lieferanten anzeigen",
          "fr": "Afficher les vendeurs",
          "it": "Mostra fornitore",
          "ja": "販売元を表示する",
          "es": "Mostrar proveedor",
          "pt-BR": "Exibir fornecedor"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": {
          "en": "Enable image zoom",
          "de": "Foto-Zoom zulassen",
          "fr": "Activer le zoom d'image",
          "it": "Abilita lo zoom dell'immagine",
          "ja": "画像ズームを有効にする",
          "es": "Habilitar zoom de imagen",
          "pt-BR": "Ativar o zoom da imagem"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": {
          "en": "Show dynamic checkout button",
          "de": "Dynamischen Checkout Button anzeigen",
          "fr": "Afficher le bouton de passage à la caisse dynamique",
          "it": "Mostra pulsante di check-out dinamico",
          "ja": "動的チェックアウトボタンを表示する",
          "es": "Mostrar botón de pago dinámico",
          "pt-BR": "Exibir botão dinâmico de finalização da compra"
        },
        "info": {
          "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "de": "Lässt Kunden direkt bezahlen mit bekannten Bezahlmethoden. [Mehr erfahren](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fr": "Permettez à vos clients de passer à la caisse avec un moyen de paiement qui leur est familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "it": "Fai in modo che i clienti effettuino il check-out direttamente utilizzando un metodo di pagamento a loro conosciuto. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ja": "使い慣れた決済方法を使用して、お客様に直接チェックアウトしてもらいましょう。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "es": "Permite a los clientes pagar directamente usando un método de pago familiar. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-BR": "Permite que os clientes finalizem os pedidos na hora usando uma forma de pagamento salva. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "en": "Show social sharing buttons",
          "de": "Buttons für Social Media anzeigen",
          "fr": "Affichez les boutons de partage sur les médias sociaux",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "ja": "ソーシャル共有ボタンを表示する",
          "es": "Mostrar botones para compartir en redes sociales",
          "pt-BR": "Exibir botões de compartilhamento em redes sociais"
        },
        "default": true
      }
    ]
  }
{% endschema %}
