<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% else %}
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/ico">
  {% endif %}

  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  
  {% if settings.ajax_cart_method == 'drawer' %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss' | asset_url | stylesheet_tag }}
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'amarte-style.css' | asset_url | stylesheet_tag }}
   {{ 'overwrite.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
      },
      cartType: '{{ settings.ajax_cart_method }}',
      moneyFormat: {{ shop.money_format | json }},
      currentTemplate: '{{ template }}'
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {%- if template.directory == 'customers' -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {%- endif -%}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 

  {{ 'jquery.validate.min.js' | asset_url | script_tag }}
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

  {{ content_for_header }}
{%- include 'bold-common' -%}
{%- include 'bold-product' with product, hide_action: 'header' -%}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
</head>

<body class="template-{{ template | split: '.' | first }}">
    <div class="page-wrapper">
        <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
            <div class="search-bar__table">
                <div class="search-bar__table-cell search-bar__form-wrapper">
                    <form class="search search-bar__form" action="/search" method="get" role="search">
                      <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
                      <button class="search-bar__submit search__submit btn--link" type="submit">
                        {% include 'icon-search' %}
                        <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
                      </button>
                    </form>
                </div>
                <div class="search-bar__table-cell text-right">
                    <button type="button" class="btn--link search-bar__close js-drawer-close">
                        {% include 'icon-close' %}
                        <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
                    </button>
                </div>
            </div>
        </div>
        {% section 'header' %}
        <div class="main fl-fix">
            {{ content_for_layout }}
        </div>
        {% section 'footer' %}
        {{ 'plugins.min.js' | asset_url | script_tag }}
        {{ 'index.min.js' | asset_url | script_tag }}
        {% include 'newsletter_popup' %}
        {% include 'ingredient-popup' %}
    </div>

      {% if customer.tags.size > 0 %}
        {% include 'fox-wholesale' %}
      {% endif %}
    
  <script type="text/javascript" charset="utf-8">
    var shappify_customer_tags = {{ customer.tags | json }}
  </script>
</body>
</html>
